table, th, td {
  border: 1px solid #bdbdbd;
  border-collapse: collapse;
  padding: 5px;
}

table thead {
  background-color: #bdbdbd;
  color: white;
}

.table tbody td:last-child {    
  text-align: right;
}

.current-path {
    font-weight: bold;
}